/translate.7z
/recet_op.wmv
/lnkdatas.bin
/recet.ini
/xfile2/
/xfile/
/bin/
/idx/
/bgm/
/iv/backup/
/manual/
/custom.exe
/ef/effect1.dat
/ef/effect2.dat
/ef/effect3.dat
/ef/effect4.dat
/lnkdata.bin
/recettear.exe
