*
!chrname.tga
!carenda.tga
!comp.tga
!congra.tga
!ed_kasi*.tga
!egs.tga
!egs_pre.tga
!end_ss*.tga
!fairymeets.tga
!game_staff.tga
!gameover.tga
!gorem_serif*.tga
!hajimari.tga
!howto.tga
!jibunga.tga
!kitanokuni*.tga
!kousite.tga
!moji_*.tga
!music_staff.tga
!news_bel.tga
!news_messe.tga
!nichijou.tga
!owari.tga
!recetter.tga
!song_staff.tga
!staff.tga
!thankyou.tga
!time01.tga
!time03.tga
!totuzen.tga
!tuduku.tga
!voice_staff.tga