chr/*
en/*
item/*
nami/*
uni/*

b_coin.tga
boukenguild_bg.bmp
dungeonmap.tga
effect.bmp
effect_mahi.bmp
effect_opa.bmp
effect_shot.bmp
effect_wt
effect00.bmp
effect01.bmp
effect02.bmp
fps.tga
fps2.tga
hpmp_exp.tga
katter.tga
kumonosu.tga
leve_win.tga
magicjem.tga
mahoujin.bmp
mahoujin.tga
map.bmp
map_window.tga
nowloading
pc_gage.tga
result_bord01.tga
savewindow.tga
shade.bmp
pause_bg_rete.tga
snow.bmp
st_aruma.tga
st_caillou.tga
st_eran.tga
st_griffe.tga
st_nagi.tga
st_ryui.tga
st_sya.tga
st_tiers.tga
title_waku.tga
window.tga
worldmap_night.bmp
worldmap_nomal.bmp
worldmap_yugata.bmp